* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    padding:20px;
}

.container{
    width: 650px;
    box-shadow: 0px 10px 30px rgba(0,0,0, 0.12);
    background-color: white;
    border-radius: 10px;
    padding: 30px;

}

.container h1{
    text-align: center;
    margin-top: 25px;
    color:#333;
}

.input-box{
    display: flex;
    gap: 10px;
    margin:20px 0px;
    border-bottom:2px solid #ddd;
}

#taskinput{
    padding: 12px;
    border: 2px solid#ddd;
    border-radius: 8px;
    flex:1;
    outline: none;
    font-size: 16px;
    margin-bottom: 30px;
    transition:all .3s ease;
    
}

#taskinput:focus{
    border-color: royalblue;
}

#addBtn{
    background: royalblue;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    color: white;
    padding: 12px 20px;
    margin-bottom: 30px;
    transition:all .3s ease;

}

#addBtn:hover{
    background: #214fc6;
}

#tasklist {
    list-style: none;
    margin-top: 25px;
}

#tasklist li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    padding: 12px;
    margin-top: 10px;
    border-radius: 10px;
    transition:all .3s ease;
    
}

#tasklist li:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0, 0.08);
}

#tasklist span{
    flex:1;
    cursor:pointer;
    font-size:17px;
}

#tasklist button{
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

#tasklist button:first-of-type{
    background: #f39c12;
    color: white;
}

#tasklist button:last-of-type{
    background: crimson;
    color: white;
}

#tasklist button:hover{
    transform:scale(1.05);
}

.task-counter{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-top: 15px;
    font-weight: bold;
}

.completed{
    text-decoration: line-through;
    color:#777;
    font-weight: bold;
}


#searchInput{
    padding: 12px;
    border: 2px solid#ddd;
    border-radius: 8px;
    flex:1;
    outline: none;
    font-size: 16px;
    margin-bottom: 30px;
}

.task-counter {
    margin-top: 20px;
    padding: 15px;
    border-top: 2px solid #ddd;
}

.task-counter p {
    margin: 5px 0;
    font-weight: bold;
}

.filter-buttons{
    display:flex;
    gap:10px;
    margin-bottom:20px;
}

.filter-buttons button{
    flex:1;
    padding:10px;
    border:none;
    background:#ececec;
    border-radius:8px;
    cursor:pointer;
    transition:all .3s ease;
}

.filter-buttons button:hover{
    background:royalblue;
    color:white;
}


::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-thumb{
    background:#999;
    border-radius:20px;
}
